.last-play {
    background-color: #000;
    border-bottom: 7px solid #FBEC06;
    border-top: 7px solid #FBEC06;
    padding: 32px;
}

.section-last-play {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-last-play {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1150px;
    gap: 10px;
}

.container-infos-last-play {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
}

.img-last-play {
    max-width: 750px;
}

.paragraph-last-play {
    font-size: 16px;
    color: #fff;
    align-self: center;
    text-align: center;
    font-family: 'Geologica', sans-serif;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}

.title-last-play-mobile {
    text-align: center;
    color: #FBEC06;
    font-family: 'Geologica', sans-serif;
    overflow: hidden;
    font-size: 30px;
}

.title-last-play-desk {
   display: none;
}

.local-last-play {
    display: flex;
    gap: 12px;
}

.info-last-play {
    align-self: center;
    margin: 0px;
    color: #fff;
    font-family: 'Geologica', sans-serif;
}

@media only screen and (min-width: 768px) {
    .section-last-play {
        flex-direction: initial;
    }

    .title-last-play-mobile {
        display: none;
    }

    .title-last-play-desk {
        text-align: center;
        color: #FBEC06;
        font-family: 'Geologica', sans-serif;
        overflow: hidden;
        font-size: 42px;
        display: flex;
        align-self: center;
    }

    .container-last-play {
        gap: 30px;
    }

    .container-infos-last-play {
        flex-direction: initial;
        gap: 0px;
    }

    .paragraph-last-play {
        font-size: 30px;
        border-bottom: none;
        padding-bottom: 0px;
    }
}